@model blogs.ViewModels.BlogsViewModel;

@if (Model.Blogs == null || Model.Blogs.Count() < 1)
{
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No posts ☹️</h4>
    <p>There are no posts yet. Please write one or come again some other time!</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
}
else
{
    <div class="row mx-4">
    @foreach (var blog in Model.Blogs)
        {
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="badge badge-primary d-inline-block mb-2 text-primary">World</div>
                        <h3 class="mb-0">@blog.Title</h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">@blog.Description</p>
                        <a href="/blogs/@blog.Id" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="@blog.BannerImageUrl" width="200" height="250">

                    </div>
                </div>
            </div>
        }
    </div>
}